.carte {
    width: 85%;
    margin: 0 auto;
}
path {
    fill: #86aae0;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: 0.25;
    transition: fill 0.3s;
}
g:hover path {
    fill: #86cce0;
}
g path:hover {
    fill: #86eee0;
}
